.container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000;
    width: max-content;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(58, 54, 54, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;    
}
.containerFluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: rgb(224, 215, 215);
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    transition: 0.2s;
    padding: 5px 10px;
    border-radius: 20px;
}

.link:hover {
    background-color: rgb(99, 94, 94);
    border: 0;
}
@media screen and (max-width: 380px){
    .container{
        padding: 10px;        
    }
}